/* Box sizing rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set Grid Layout, min-height, some color, and padding on the top and bottom */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  text-align: center;
}

main {
  margin: auto;
}

header, footer {
  background: #d1bdf7;
  padding-block: 2vw;
}

